:root {
    --primary-color:#7D4600;
    --secondary-color:#4464AD;
    --accent1-color:#F58F29;
    --accent2-color:#A4B0F5;
}

body {
    width: 85rem;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--accent2-color);
    opacity: 0.9;
    margin-bottom: 1.0rem;
}

header nav {
    padding: 1%;
    display: flex;
    justify-content: space-around;
}

header nav a {
    text-decoration: none;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--primary-color);

}

.hero {
    position:relative;
    margin-bottom: 1.0rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--accent1-color);
    position: absolute;
    top:0;
    left: 35%;
}

.hero article {
    margin: auto 10%;
    position:absolute;
    top: 40%;
    left: auto; 
}

.hero article img {
    float: right;
    width: 17%;
    height: auto;
    margin-right: 2rem;
    margin-top: 2rem;
    position: sticky;
    z-index: 1;
}

.hero article p {
    background-color: var(--accent2-color);
    opacity: 0.8;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
    padding: 1rem;  
}

main section h2 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--primary-color);
}

main section p {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary-color);
}

.contact-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    margin-top: 1rem;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    margin-bottom: 1rem;
    background-color: var(--accent2-color);
}


footer p {
   
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
    grid-column: 2;
    text-align: center;
}

.sociallinks {
    display: flex;
    justify-content: space-around;
    grid-column: 3;
    align-items: center;
    align-content: center;
} 

.sociallinks a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sociallinks a img {
    width: 50%;
    align-items: center;
    height: 50%;
}

footer a {
    grid-column: 1;
    text-align: center;
    align-items: center;
}

section {
    margin-bottom: 1rem;
}

.history {
    display: flex;
    flex-direction: column;
}

.history p {
    padding-left: 10%;
    padding-right: 10%;
}

.history h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Adventure h2 {
    text-align: center;
}

.Adventure div {
    display: flex;
    justify-content: space-around;
}

.Adventure div figure img {
    width: 100%;
}

.Adventure div figure figcaption {
    text-align: center;
}

span img {
    width: 25%;
    margin: 2%;
}

.employees {
    display: grid;
}

.employees h1 {
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--primary-color);
}

.comp-info {
    display: grid;
    row-gap: 1rem;
}

.comp-info p {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: var(--primary-color);
}

.employees figure img {
    width: 100%;
}

.employees div {
    display: grid;
    row-gap: 1rem;
}

figcaption {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
    text-align: center;
}

form {
    display: grid;
    gap: 1rem;
    background-color: var(--accent2-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

form div {
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
    align-content: start;
}

form h1 {
    padding: 0.5rem;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
}

label, input, button, textarea {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

label {
    color: var(--primary-color);
    text-align: left;
}

textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type="text"], input[type="email"], textarea {
    height: 2.5rem;
    font-size: 1.1rem;
}

button {
    background-color: rgb(0, 92, 128);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: .75rem;
    font-size: 1.2rem;
    max-width: fit-content;
}

.purpose {
    display: grid;
}

.purpose div {
    display: flex;
    padding: 0;
}

.msg {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
}

.address {
    display: grid;
}

.address p {
    padding: 0;
}

.address div {
    padding-top: 1rem;
}

iframe {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}
